<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card mx-auto" style="max-width: 600px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); border-radius: 10px;">
    <div class="card-body text-center">
      <h1 class="card-title mb-3">Autor</h1>
      <h5 class="card-subtitle mb-3">Eduarda de Souza</h5>
      <img src="/assets/Eduarda.png" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;" alt="Foto de Eduarda de Souza">
      <h5 class="mt-4">Sobre mim</h5>
      <p class="card-text">Aluna do segundo ano do desenvolvimento de sistemas e ensino médio.</p>
    </div>
 <div class="card-body text-center">
      <h1 class="card-title mb-3">Autor Secundário</h1>
      <h5 class="card-subtitle mb-3">Enrico Spinardi</h5>
      <img src="/assets/Enrico.png" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;" alt="Foto de Enrico">
      <h5 class="mt-4">Sobre mim</h5>
      <p class="card-text">Aluno do segundo ano do desenvolvimento de sistemas e ensino médio.</p>
    </div>
  </div>
</div>
